
body{
    margin:0;
    min-height: 100vh;

}

/* global style */
.container{
    width: 1024px;
    margin: auto;
}

.d-flex{
    display: flex;

}
.w-100{
    width: 100%;
}
.mb-15{
    margin-bottom: 15px;
}

/* header styles */
header{
    height:70px ;
    background-color: cornflowerblue;
    align-items: center;
    
}

header .logo{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

header .container{
   align-items: center; 
}
nav{
    width: calc(100% - 45px);
    justify-content: space-between;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover{
    text-decoration: underline;
}
/* footer */
footer{
    background-color: cornsilk;
    padding: 15px 0;
    height: 60px;
    box-sizing: border-box;
}

footer p{
   margin-bottom: 0; 
   margin: 0;
}
/* auth */
.auth-form-container{
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.auth-form-container .text-input-label{
    display: block;
    margin-bottom: 5px;

}


.auth-form-container .text-input,
.auth-form-container .location
{
    display: block;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    border: 1px solid black;
}
.auth-form-container .location{
    background-color: white;
   
}

.form-group{
    margin-bottom: 15px;
}


.btn{
    display: block;
    font-size: 16px;
    height: 35px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-primary{
    background-color: rgb(77, 77, 179);
    color: white;
}

.btn-link{
    text-decoration: none;
    line-height: 35px;
    color: blue;
}
.btn-link:hover{
    text-decoration: underline;
}
.reset-pass-link{
    display: block;
    text-align: center;
    font-size: 12px;

}



/* რეგისტრაცია */
.sex-container{
    display: inline-block;
}
.body-container{
    padding: 30px 0;
    min-height: calc(100vh - 70px - 60px);
    box-sizing: border-box;
}


/* blog list page */
.main-category-item{
    border: 1px solid rgb(235,235,235);
    flex-grow: 1;
    text-align: center;
    padding: 15px 20px;
    margin: 0 15px;
    width: 25%;
    text-decoration: none;
    color: black;
}
.main-category-item:hover{
    border-color: rgb(200,200,200);
    background-color: rgb(233,233,233);
}

.main-category-item img{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.main-categories{
    margin: 15px 15px;
}

.category-navigation-list{
    border: 1px solid rgb(235, 235, 235);
    flex-basis: 20%;
    margin: 0;
    pad: 25px 0 25px 40px;
    list-style-type: none;
}
.category-navigation-list a{
    padding: 5px 0;
    text-decoration: none;
    color: black;
}

.category-navigation-list a:hover{
    text-decoration: underline;
    color: blue;
}


.blog-container{

}

.blog-body{
    flex-grow: 1;
    margin-left: 20px;
}